/* <--- CardHeader Style ---> */

.card-header {
  width: 100%;
  position: relative;
  /* background-color: red; */
}

.header-background {
  background-color: #1CC797;
  background-size: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 100%;
  height: 35%;
  position: relative;
}

.header-background img {
  width: 100%;
  max-height: 170px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.background-text {
  color: #fffffe;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding-top: 15px;
}

.background-text p {
  /* display: none; */
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.header-content {
  width: 100%;
  text-align: center;
  position: relative;
}

.profile-img {
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  background-color: #141837;
  background-size: cover;
  border: 8px solid #fff;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: -80px;
  transform: translateY(-50%);
  text-align: center;
  position: relative;
}

.profile-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.header-content h1 {
  color: #20496B;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  margin-top: 0px;
}

.header-content h2 {
  color:#4F89A6;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  margin-bottom: 5px;
}

.header-content p {
  color: #20496B;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: block;
}

.social-links {
  padding-top: 30px;
  padding-bottom: 40px;
}
.social-links a {
  color: #20496B;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 0 5px;
  line-height: 40px;
  text-align: center;
  transition: all .3s ease;
}

.social-links a i {
  transition: all .3s ease;
}

.social-links a:hover {
  color: #4EEDC4;
  background-color: #356484;
}
